@using Microsoft.AspNetCore.Identity
@inject SignInManager<CarDiaryServer.Models.Entities.StoreUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarDiaryServer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md h-auto py-md-1">
            <div class="navbar-collapse w-100 dual-collapse2">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item active">
                        <a class="btn btn-dark mr-2" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (this.SignInManager.IsSignedIn(this.User))
                    {
                        <li class="nav-item">
                            <a class="btn btn-dark mr-2" asp-area="" asp-controller="Home" asp-action="Cars">Cars</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-dark mr-2" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    }
                </ul>
            </div>

            <div class="mx-auto my-2 order-0 order-md-1 position-sticky">
                <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
